body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;
  width:70%;
  margin-left:15%;
  margin-top:-25%;
  background-color: rgb(255, 0, 0);
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.3rem;
  z-index:-1;

}

.nav-links a:hover
{
  color:rgb(194, 192, 192);
  text-decoration: underline;
}

.nav-search input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  width:20rem;
}

.hero {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 32px;
  font-weight: bold;
}

#test-it
{
  font-weight: 550;
  margin-top:5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:35px;
}
.sky
{
  z-index:-2;
}
.video-button
{
  margin-top:1rem;
  padding:10px;
  width:25%;
  font-size:35px;
  border-color:rgb(157, 85, 8);
  text-decoration:none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:rgb(255, 106, 0);
}

.video-button:hover
{
  background-color:rgb(223, 97, 8);
}

h2
{
  font-size:45px;

}
.about
{
  padding:1rem;
  margin-top:.1rem;
  background-color: rgb(252, 248, 248);
}
.about p
{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left:20%;
  margin-right:20%;
  font-size:30px;
  
}

.footer {
  padding: 20px;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background-color:rgb(255, 116, 41);
}