body {
  margin: 0;
  
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 241, 241);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn {
  --border-color: linear-gradient(-45deg, #952500, #a32900, #952500);
  --border-width: 0.025em;
  --curve-size: 0.0em;
  --blur: 30px;
  --bg: #df3802;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  clip-path: rectangle(
    /* Top-left */ 0%,0,
    /* top-right */ 0% 0,
    /* bottom-right 1 */ 0 0%,
    /* bottom-right 2 */ 0 0%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}
h1{
  
  font-size:85px;
}

header p
{

  font-size:45px;
  font-weight:600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#ffffff;
  margin-top:1rem;
}
nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
  position: fixed;
  
  background-color: rgb(223,56,2);
  z-index: 1;
}

.nav-links button
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:25px;
  padding:.7rem;
  width:10rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.3rem;
  
}

.nav-links a:hover {
  color: rgb(194, 192, 192);
  text-decoration: underline;
  
}

.searchBox {
  display: flex;
  width: 25rem;
  right: 35px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #ffffff;
  border-radius: 50px;
  position: relative;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #dd5426 0%, #df3802 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}
.line
{
  width:30rem;
  height:.03rem;

}


.glow {
  
  color: #cecbcb;
  margin-top:-21rem;
  
  -webkit-animation: glow .3s ease-in-out infinite alternate;
  -moz-animation: glow .3s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #ffffff, 0 0 60px #000000, 0 0 70px #ffffff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1d0c00, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #ffffff;
  }
}
.simbasmile
{

  margin-top:3rem;
  margin-bottom: 4rem;
  
}
#test-it
{
  font-weight: 550;
  margin-top:5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:35px;
  
}
.sky
{
  display: flex;
  z-index:-1;
}
.video-button
{
  margin-top:1rem;
  padding:10px;
  width:25%;
  font-size:35px;
  border-color:rgb(157, 85, 8);
  text-decoration:none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:rgb(255, 106, 0);
}

.video-button:hover
{
  background-color:rgb(223, 97, 8);
}

h2
{
  font-size:45px;

}
.footer {
  margin-top:4rem;
  padding: 20px;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background-color:rgb(223,56,2);
}

.table {
  font-size: 40px;
  margin: 0 auto;
  text-align: center; 
  background-color: rgb(255, 184, 102);
  padding:1rem;
  width: 50%; 

}
#table
{
  margin-top:-5rem;
  background-color: rgb(247, 241, 241);
  padding:2rem;
  align-items: center;
}

#table .table
{
  margin-top:4rem;
}
#table .table table {
  
  width:100%;
  margin: 0 auto;
}
#table p
{
  font-weight:500;
  font-size:45px;
}

.table table tr td {
  
  background-color:rgb(227, 227, 227);
}
.table table tr td
{
  margin-top:-44rem;
  font-size:30px;
}

#museum-visit
{
  background-color: #f0ecec;
}
#museum-visit p
{
  font-size:35px;
  padding:3rem;
  margin-bottom:-2rem;
}


.imbutton
{
  border-color: #dd5426;
  font-size:30px;
  padding:1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top:-5rem;
}

.imbutton:hover
{
  background-color: rgb(224, 224, 224);
  color: black;
}
#rectangle
{
  width:1rem;
  height:5rem;
  background-color: rgb(0, 0, 0);
}